language: php
matrix:
  include:
    - php: 5.4
      env:
        - SYMFONY_VERSION='2.7.*'
        - PUG_VERSION='^2.7.1'
    - php: 5.4
      env:
        - SYMFONY_VERSION='2.8.*'
        - PUG_VERSION='^2.7.1'
    - php: 5.5
      env:
        - SYMFONY_VERSION='2.7.*'
        - PUG_VERSION='^3.0.0@beta'
    - php: 5.5
      env:
        - SYMFONY_VERSION='2.8.*'
        - PUG_VERSION='^3.0.0@beta'
    - php: 5.5
      env:
        - SYMFONY_VERSION='3.0.*'
        - PUG_VERSION='^3.0.0@beta'
    - php: 5.5
      env:
        - SYMFONY_VERSION='3.1.*'
        - PUG_VERSION='^3.0.0@beta'
    - php: 5.5
      env:
        - SYMFONY_VERSION='3.2.*'
        - PUG_VERSION='^3.0.0@beta'
    - php: 5.5
      env:
        - SYMFONY_VERSION='3.3.*'
        - PUG_VERSION='^3.0.0@beta'
    - php: 5.5
      env:
        - SYMFONY_VERSION='3.4.x-dev as 3.4'
        - PUG_VERSION='^3.0.0@beta'
    - php: 5.6
      env:
        - SYMFONY_VERSION='2.7.*'
        - PUG_VERSION='^3.0.0@beta'
    - php: 5.6
      env:
        - SYMFONY_VERSION='2.8.*'
        - PUG_VERSION='^3.0.0@beta'
    - php: 5.6
      env:
        - SYMFONY_VERSION='3.0.*'
        - PUG_VERSION='^3.0.0@beta'
    - php: 5.6
      env:
        - SYMFONY_VERSION='3.1.*'
        - PUG_VERSION='^3.0.0@beta'
    - php: 5.6
      env:
        - SYMFONY_VERSION='3.2.*'
        - PUG_VERSION='^3.0.0@beta'
    - php: 5.6
      env:
        - SYMFONY_VERSION='3.3.*'
        - PUG_VERSION='^3.0.0@beta'
    - php: 5.6
      env:
        - SYMFONY_VERSION='3.4.x-dev as 3.4'
        - PUG_VERSION='^3.0.0@beta'
    - php: 7.0
      env:
        - SYMFONY_VERSION='2.7.*'
        - PUG_VERSION='^3.0.0@beta'
    - php: 7.0
      env:
        - SYMFONY_VERSION='2.8.*'
        - PUG_VERSION='^3.0.0@beta'
    - php: 7.0
      env:
        - SYMFONY_VERSION='3.0.*'
        - PUG_VERSION='^3.0.0@beta'
    - php: 7.0
      env:
        - SYMFONY_VERSION='3.1.*'
        - PUG_VERSION='^3.0.0@beta'
    - php: 7.0
      env:
        - SYMFONY_VERSION='3.2.*'
        - PUG_VERSION='^3.0.0@beta'
    - php: 7.0
      env:
        - SYMFONY_VERSION='3.3.*'
        - PUG_VERSION='^3.0.0@beta'
    - php: 7.0
      env:
        - SYMFONY_VERSION='3.4.x-dev as 3.4'
        - PUG_VERSION='^3.0.0@beta'
    - php: 7.1
      env:
        - SYMFONY_VERSION='2.7.*'
        - PUG_VERSION='^3.0.0@beta'
    - php: 7.1
      env:
        - SYMFONY_VERSION='2.8.*'
        - PUG_VERSION='^3.0.0@beta'
    - php: 7.1
      env:
        - SYMFONY_VERSION='3.0.*'
        - PUG_VERSION='^3.0.0@beta'
    - php: 7.1
      env:
        - SYMFONY_VERSION='3.1.*'
        - PUG_VERSION='^3.0.0@beta'
    - php: 7.1
      env:
        - SYMFONY_VERSION='3.2.*'
        - PUG_VERSION='^3.0.0@beta'
    - php: 7.1
      env:
        - SYMFONY_VERSION='3.3.*'
        - PUG_VERSION='^3.0.0@beta'
    - php: 7.1
      env:
        - SYMFONY_VERSION='3.4.x-dev as 3.4'
        - PUG_VERSION='^3.0.0@beta'
    - php: 7.1
      env:
        - SYMFONY_VERSION='4.0.x-dev as 3.99'
        - PUG_VERSION='^3.0.0@beta'
    - php: 7.2
      env:
        - SYMFONY_VERSION='2.7.*'
        - PUG_VERSION='^2.7.1'
    - php: 7.2
      env:
        - SYMFONY_VERSION='2.8.*'
        - PUG_VERSION='^2.7.1'
    - php: 7.2
      env:
        - SYMFONY_VERSION='3.0.*'
        - PUG_VERSION='^2.7.1'
    - php: 7.2
      env:
        - SYMFONY_VERSION='3.1.*'
        - PUG_VERSION='^2.7.1'
    - php: 7.2
      env:
        - SYMFONY_VERSION='3.2.*'
        - PUG_VERSION='^2.7.1'
    - php: 7.2
      env:
        - SYMFONY_VERSION='3.3.*'
        - PUG_VERSION='^2.7.1'
    - php: 7.2
      env:
        - SYMFONY_VERSION='3.4.x-dev as 3.4'
        - PUG_VERSION='^2.7.1'
    - php: 7.2
      env:
        - SYMFONY_VERSION='4.0.x-dev as 3.99'
        - PUG_VERSION='^2.7.1'
    - php: 7.2
      env:
        - SYMFONY_VERSION='2.7.*'
        - PUG_VERSION='^3.0.0@beta'
    - php: 7.2
      env:
        - SYMFONY_VERSION='2.8.*'
        - PUG_VERSION='^3.0.0@beta'
    - php: 7.2
      env:
        - SYMFONY_VERSION='3.0.*'
        - PUG_VERSION='^3.0.0@beta'
    - php: 7.2
      env:
        - SYMFONY_VERSION='3.1.*'
        - PUG_VERSION='^3.0.0@beta'
    - php: 7.2
      env:
        - SYMFONY_VERSION='3.2.*'
        - PUG_VERSION='^3.0.0@beta'
    - php: 7.2
      env:
        - SYMFONY_VERSION='3.3.*'
        - PUG_VERSION='^3.0.0@beta'
    - php: 7.2
      env:
        - SYMFONY_VERSION='3.4.x-dev as 3.4'
        - PUG_VERSION='^3.0.0@beta'
    - php: 7.2
      env:
        - SYMFONY_VERSION='4.0.x-dev as 3.99'
        - PUG_VERSION='^3.0.0@beta'
    - php: hhvm
      env:
        - SYMFONY_VERSION='2.7.*'
        - PUG_VERSION='^3.0.0@beta'
      dist: trusty
      sudo: required
    - php: hhvm
      env:
        - SYMFONY_VERSION='2.8.*'
        - PUG_VERSION='^3.0.0@beta'
      dist: trusty
      sudo: required
    - php: hhvm
      env:
        - SYMFONY_VERSION='3.0.*'
        - PUG_VERSION='^3.0.0@beta'
      dist: trusty
      sudo: required
    - php: hhvm
      env:
        - SYMFONY_VERSION='3.1.*'
        - PUG_VERSION='^3.0.0@beta'
      dist: trusty
      sudo: required
    - php: hhvm
      env:
        - SYMFONY_VERSION='3.2.*'
        - PUG_VERSION='^3.0.0@beta'
      dist: trusty
      sudo: required
    - php: hhvm
      env:
        - SYMFONY_VERSION='3.3.*'
        - PUG_VERSION='^3.0.0@beta'
      dist: trusty
      sudo: required
    - php: hhvm
      env:
        - SYMFONY_VERSION='3.4.x-dev as 3.4'
        - PUG_VERSION='^3.0.0@beta'
      dist: trusty
      sudo: required
before_script:
  - travis_retry composer self-update
  - if [ "$SYMFONY_VERSION" != "" ]; then travis_retry php tests/setSymfonyVersion.php $SYMFONY_VERSION $PUG_VERSION; fi;
  - travis_retry composer update --no-interaction --prefer-stable
  - chmod -R 0777 tests/project
script:
  - vendor/bin/phpunit --verbose --coverage-text --coverage-clover=coverage.xml
after_script:
  - if [ $(phpenv version-name) = '5.6' ]; then
    vendor/bin/test-reporter --coverage-report coverage.xml
    ; fi
  - bash <(curl -s https://codecov.io/bash)
addons:
  code_climate:
    repo_token: ae72d604c76bbd8cd0d0b8318930e3a28afd007ab8381d2a8c49ce296ca2b292
