<phpunit
    bootstrap="tests/bootstrap.php"
    processIsolation="true"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    >
    <testsuites>
        <testsuite name="Adapter">
            <directory suffix="Test.php">tests/</directory>
            <exclude>tests/project/app/cache</exclude>
            <exclude>tests/project/app/logs</exclude>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <php>
        <server name="KERNEL_DIR" value="tests/project/app/" />
        <server name="KERNEL_CLASS" value="AppKernel" />
    </php>
    <logging>
        <log type="coverage-clover" target="coverage/result.xml" />
        <log type="coverage-html" target="coverage/result" />
        <log type="coverage-text" target="coverage/result.txt" />
    </logging>
</phpunit>
