.foo(style=('background-position: 50% -402px; background-image: ' . css_url('assets/img/patterns/5.png') . ';'))
.foo(style=array('background-position' => "50% -402px", 'background-image' => css_url('assets/img/patterns/5.png')))
